
.0_3 { 
	overflow:hidden;
}
.e0_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1480px;
	height:978px;
	position:absolute;
}
.e227_44 { 
	transform: rotate(89.99999999981084deg);
	width:1861px;
	height:0px;
	position:absolute;
	left:1267px;
	top:207px;
}
.227_44 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e415_31 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(223.125, 220.33593446016312, 220.33593446016312, 1);
	width:1480px;
	height:925px;
	position:absolute;
	left:0px;
	top:52px;
}
.e415_32 { 
	transform: rotate(89.75832035149887deg);
	width:769.2749633789062px;
	height:0px;
	position:absolute;
	left:751.4677124023438px;
	top:208.2252960205078px;
}
.415_32 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e415_33 { 
	transform: rotate(0.22055081751245267deg);
	width:1362.634765625px;
	height:0px;
	position:absolute;
	left:66.10745239257812px;
	top:203.08392333984375px;
}
.415_33 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.415_34 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e415_34 { 
	width:1120px;
	height:0px;
	position:absolute;
	left:18px;
	top:977px;
}
.e415_35 { 
	transform: rotate(90deg);
	width:925px;
	height:0px;
	position:absolute;
	left:18px;
	top:52px;
}
.415_35 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.415_36 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e415_36 { 
	width:1457px;
	height:0px;
	position:absolute;
	left:23px;
	top:52px;
}
.e415_37 { 
	transform: rotate(90deg);
	width:925px;
	height:0px;
	position:absolute;
	left:1480px;
	top:52px;
}
.415_37 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e415_38 { 
	transform: rotate(90.33410414043763deg);
	width:925.4613647460938px;
	height:0px;
	position:absolute;
	left:68.80580139160156px;
	top:51.41363525390625px;
}
.415_38 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e415_39 { 
	transform: rotate(90deg);
	width:925px;
	height:0px;
	position:absolute;
	left:1432px;
	top:52px;
}
.415_39 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e415_40 { 
	background-color:rgba(0, 0, 0, 1);
	width:69px;
	height:925px;
	position:absolute;
	left:0px;
	top:52px;
}
.e415_41 { 
	background-color:rgba(0, 0, 0, 1);
	width:69px;
	height:925px;
	position:absolute;
	left:1411px;
	top:52px;
}
.e415_42 { 
	background-color:rgba(0, 0, 0, 1);
	width:1480px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}
.e415_43 { 
	color:rgba(0, 0, 0, 1);
	width:824px;
	height:96px;
	position:absolute;
	left:342px;
	top:94px;
	font-family:Italiana;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e415_44 { 
	background-color:rgba(0, 0, 0, 1);
	width:70px;
	height:11px;
	position:absolute;
	left:113px;
	top:128px;
}
.e415_45 { 
	background-color:rgba(0, 0, 0, 1);
	width:70px;
	height:12px;
	position:absolute;
	left:113px;
	top:141px;
}
.e415_46 { 
	background-color:rgba(0, 0, 0, 1);
	width:70px;
	height:12px;
	position:absolute;
	left:113px;
	top:155px;
}
.e415_47 { 
	width:562px;
	height:305px;
	position:absolute;
	left:148px;
	top:329px;
	border-top-left-radius:49px;
	border-top-right-radius:49px;
	border-bottom-left-radius:49px;
	border-bottom-right-radius:49px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e415_48 { 
	border-radius:500px;
	background-color:rgba(213.8281300663948, 204.91862654685974, 204.91862654685974, 1);
	width:561px;
	height:205px;
	position:absolute;
	left:158px;
	top:672px;
}
.e415_49 { 
	border-radius:500px;
	background-color:rgba(213.8281300663948, 204.91862654685974, 204.91862654685974, 1);
	width:561px;
	height:205px;
	position:absolute;
	left:819px;
	top:672px;
}
.e415_50 { 
	color:rgba(0, 0, 0, 1);
	width:491px;
	height:51px;
	position:absolute;
	left:263px;
	top:749px;
	font-family:Alice;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e415_51 { 
	color:rgba(0, 0, 0, 1);
	width:353px;
	height:48px;
	position:absolute;
	left:989px;
	top:749px;
	font-family:Alice;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e415_52 { 
	transform: rotate(89.99999999999999deg);
	width:547px;
	height:0px;
	position:absolute;
	left:69px;
	top:284px;
}
.415_52 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e415_53 { 
	transform: rotate(-1.3523241830044522e-14deg);
	width:684px;
	height:0px;
	position:absolute;
	left:70px;
	top:915px;
}
.415_53 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e415_54 { 
	transform: rotate(-1.3446113281956206e-14deg);
	width:685px;
	height:0px;
	position:absolute;
	left:69px;
	top:284px;
}
.415_54 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.415_55 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e415_55 { 
	width:664px;
	height:0px;
	position:absolute;
	left:747px;
	top:284px;
}
.415_56 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e415_56 { 
	width:658px;
	height:0px;
	position:absolute;
	left:754px;
	top:915px;
}
.e415_57 { 
	width:554px;
	height:296px;
	position:absolute;
	left:808px;
	top:329px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e415_58 { 
	color:rgba(0, 0, 0, 1);
	width:400px;
	height:56px;
	position:absolute;
	left:899px;
	top:228px;
	font-family:Alegreya SC;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e415_59 { 
	color:rgba(0, 0, 0, 1);
	width:497px;
	height:66px;
	position:absolute;
	left:213px;
	top:228px;
	font-family:Alegreya;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
