.0_3 { 
	overflow:hidden;
}.e0_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1391px;
	height:2068px;
	position:absolute;
}.e227_41 { 
	transform: rotate(0.16476094145456488deg);
	width:1391.0057373046875px;
	height:0px;
	position:absolute;
	left:2.2737367544323206e-13px;
	top:153px;
}.227_41 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e227_42 { 
	transform: rotate(0.08238064583268792deg);
	width:1391.00146484375px;
	height:0px;
	position:absolute;
	left:-1px;
	top:205px;
}.227_42 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e227_43 { 
	transform: rotate(90.13324576330925deg);
	width:1861.00439453125px;
	height:0px;
	position:absolute;
	left:39px;
	top:207px;
}.227_43 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e227_44 { 
	transform: rotate(89.99999999979717deg);
	width:1861px;
	height:0px;
	position:absolute;
	left:1359px;
	top:207px;
}.227_44 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e227_57 { 
	transform: rotate(89.71775706859202deg);
	width:1015.0123291015625px;
	height:0px;
	position:absolute;
	left:694px;
	top:1097px;
}.227_57 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e227_62 { 
	color:rgba(0, 0, 0, 1);
	width:984px;
	height:110px;
	position:absolute;
	left:203px;
	top:33px;
	font-family:Alice;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}.e227_68 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:603px;
	height:0px;
	position:absolute;
	left:35px;
	top:737px;
}.227_68 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e227_69 { 
	transform: rotate(0.43339399070804896deg);
	width:661.0189208984375px;
	height:0px;
	position:absolute;
	left:698px;
	top:733px;
}.227_69 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e240_2 { 
	color:rgba(0, 0, 0, 1);
	width:458px;
	height:37px;
	position:absolute;
	left:436px;
	top:167px;
	font-family:Alice;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e240_6 { 
	color:rgba(0, 0, 0, 1);
	width:529px;
	height:86px;
	position:absolute;
	left:135px;
	top:1095px;
	font-family:Almendra SC;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e240_8 { 
	color:rgba(0, 0, 0, 1);
	width:577px;
	height:86px;
	position:absolute;
	left:711px;
	top:1095px;
	font-family:Almendra SC;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e240_7 { 
	color:rgba(0, 0, 0, 1);
	width:446px;
	height:829px;
	position:absolute;
	left:198px;
	top:1239px;
	font-family:Alice;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e408_2 { 
	width:697px;
	height:461px;
	position:absolute;
	left:363px;
	top:241px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e240_4 { 
	color:rgba(0, 0, 0, 1);
	width:946px;
	height:364px;
	position:absolute;
	left:226px;
	top:733px;
	font-family:Almendra SC;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}.e240_9 { 
	color:rgba(0, 0, 0, 1);
	width:555px;
	height:495px;
	position:absolute;
	left:733px;
	top:1239px;
	font-family:Alice;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}