.0_3 { 
	overflow:hidden;
}.e0_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1391px;
	height:1929px;
	position:absolute;
}.e242_2 { 
	color:rgba(0, 0, 0, 1);
	width:855px;
	height:881px;
	position:absolute;
	left:299px;
	top:997px;
	font-family:Alice;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e242_15 { 
	width:1018px;
	height:564px;
	position:absolute;
	left:187px;
	top:193px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e242_16 { 
	transform: rotate(89.88419705383446deg);
	width:1929.0035400390625px;
	height:0px;
	position:absolute;
	left:156px;
	top:-7.105427357601002e-15px;
}.242_16 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e242_17 { 
	transform: rotate(89.91339099475216deg);
	width:1929.00244140625px;
	height:0px;
	position:absolute;
	left:1228px;
	top:0px;
}.242_17 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e242_18 { 
	transform: rotate(-1.220128283082519e-8deg);
	width:1071px;
	height:0px;
	position:absolute;
	left:158px;
	top:150px;
}.242_18 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e242_19 { 
	transform: rotate(-0.1598947861242664deg);
	width:1075.004150390625px;
	height:0px;
	position:absolute;
	left:156px;
	top:798px;
}.242_19 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e242_20 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:1071px;
	height:0px;
	position:absolute;
	left:160px;
	top:1929px;
}.242_20 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e242_21 { 
	transform: rotate(89.91089310426108deg);
	width:1929.0023193359375px;
	height:0px;
	position:absolute;
	left:91px;
	top:0px;
}.242_21 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e242_22 { 
	transform: rotate(89.91089310426108deg);
	width:1929.0023193359375px;
	height:0px;
	position:absolute;
	left:1297px;
	top:0px;
}.242_22 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e242_25 { 
	transform: rotate(-0.1604912113656849deg);
	width:1071.004150390625px;
	height:0px;
	position:absolute;
	left:160px;
	top:946px;
}.242_25 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e242_28 { 
	color:rgba(0, 0, 0, 1);
	width:987px;
	height:110px;
	position:absolute;
	left:202px;
	top:22px;
	font-family:Alice;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}